<section class="bg-gray-100 py-16">
    <div class="mx-auto max-w-2xl px-4">
        <h2 class="font-semibold mb-2">Commande passée ! Merci !</h2>
        <p class="text-gray-500 mb-8">Votre commande <span class="font-medium">#32</span></p>
        <div class="space-y-2 rounded-lg border-gray-300 bg-gray-50 p-6 mb-8">
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Date</dt>
                <dd class="font-medium text-gray-900 text-end">20 Oct 1991</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Méthode de paiement</dt>
                <dd class="font-medium text-gray-900 text-end">Visa</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Addresse</dt>
                <dd class="font-medium text-gray-900 text-end">64 Rue des Pommes</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Montant</dt>
                <dd class="font-medium text-gray-900 text-end">150</dd>
            </dl>
        </div>
        <div class="flex items-center space-x-4">
            <button routerLink="/orders/42" mat-flat-button>Voir votre commande</button>
            <button routerLink="/shop" mat-stroked-button>Continuer vos achats</button>
        </div>
    </div>
</section>